#grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 574px;
	/* margin: 0 auto; */
}
#myCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* border: 2px dashed black; */
}
.grid-item {
	background-color: #f0f0f0;
	background-image: url(../assets/images/block-12.png);
	background-size: contain;
	/* border: 1px solid #ddd; */
	color: white;
	font-family: "Press Start 2P", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;

	padding: 10px;
	width: 60px;
	height: 60px;
}
.row {
	display: flex;
	align-self: center;
}
.row:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
}

/* General styling */
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-color: #87c7cd;
}
.game-board {
	align-self: center;
}
header {
	height: 10%;
}
main {
	display: flex;
	height: 100%;
}
.section {
	width: 50%;
}
.left-section {
	display: flex;
	flex-direction: column;
	align-self: center;
}
.logo {
	height: 100%;
}
.logo img {
	height: 100%;
}
.score,
#winner {
	font-family: "Press Start 2P", system-ui;
	font-size: large;
}
#winner {
	width: 60%;
	display: none;
	flex-direction: column;
	align-items: center;
}
#winner figure {
	width: 50%;
}
#winner img {
	width: 100%;
}
#winner.show {
	display: flex;
}
.dice {
	width: 20%;
}
.dice img {
	width: 100%;
}
#dice.hide {
	display: none;
}
/* BUTTON  */
button {
	height: 57px;
	width: 479px;
	border: none;
	font-family: "Press Start 2P", system-ui;
	font-size: large;
	border-bottom: 8px solid rgb(196, 49, 16);
	clip-path: polygon(12% 0, 88% 0, 82% 100%, 6% 100%);
	transition: transform 0.3s ease;
}
button:hover {
	transform: scale(1.1);
	border-bottom: 10px solid rgb(173, 117, 33);
}
.right-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
