/* #grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 434px;
	margin: 0 auto;
}
#myCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid-item {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	width: 40px;
	height: 40px;
}
.row {
	display: flex;
	align-self: center;
}
.row:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Stone Age", sans-serif;
  cursor: url(./assets/images/icon-1.png), auto;
}
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
  text-align: center;
  line-height: 90vh;
}
.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: -10;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
.main-bg {
  background-color: #87c7cd;
}
.instruction a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.img-1 {
  height: 314px;
  width: auto;
  object-fit: contain;
}
.start-btn {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
.start-btn button {
  width: 370px;
  border-bottom: 8px solid rgb(152, 173, 33);
  clip-path: polygon(12% 0, 88% 0, 82% 100%, 6% 100%);
  transition: transform 0.3s ease;
}
.start-btn button:hover {
  transform: scale(1.1);
  border-bottom: 10px solid rgb(173, 117, 33);
  cursor: url(./assets/images/icon-2.png), auto;

}

