/* #grid-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 434px;
	margin: 0 auto;
}
#myCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid-item {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	width: 40px;
	height: 40px;
}
.row {
	display: flex;
	align-self: center;
}
.row:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
} */
*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.main-bg{
	background-color: #87c7cd;
}
.start-btn {
	display: flex;
	/* flex-direction: column; */
	border-radius: 40px;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease;
  }
  .start-btn button {
	clip-path: polygon(12% 0, 88% 0, 82% 100%, 6% 100%);
	border-bottom: 7px solid rgb(25, 117, 25);	
}